body {
    background: black;
}
h2, h4 {
    color: #adaaaa;
}


.name, #hp1, #hp2, #hp3, #hp4 {
    color: #284346;
    font-weight: bold;
    font-size: 18px;
}
.character, .defender{
    background: #2d939b;
    border: solid 3px #adaaaa;
    border-radius: 20px;
}

.myCharacter {
    background: #61b486;
    border: solid 3px #adaaaa;
    border-radius: 20px;
}

.myDefender {
    background: #dd5454;
    border: solid 3px #adaaaa;
    border-radius: 20px;
}
#attackInfo {
    color: #adaaaa;
}
#row1 {
    border-right: solid 2px #adaaaa;
}
/* md */
@media screen and (max-width: 992px) {
    .myCharacter {
        max-width: 98%;
        height: auto;
    }
    .myDefender {
        max-width: 98%;
        height: auto;
    }
}
/* sm */
@media screen and (max-width: 768px) {
    .myCharacter {
        max-width: 98%;
        height: 200px;
    }
    .myDefender {
        max-width: 98%;
        height: 200px;
    }
}
/* xs */
@media screen and (max-width: 576px) {
    #attackInfo {
        max-width:90%;
    }
    .myCharacter, .myDefender {
        max-width:50%;
        min-height:auto;
    }
    .myCharacter img {
        max-width:70%;
        max-height:70%;
    }
    .myDefender img {
        max-width:70%;
        max-height:70%;
    }
}